<!DOCTYPE html>
  <head>
    <title>bootcamp</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="@{http://code.jquery.com/jquery-3.7.1.min.js}"></script>  <!-- refer external function -> ajex-->
    <script th:src="@{/js/update-text.js}"></script>  <!-- attach html file-->
    <script th:src="@{/js/coin-search.js}"></script>
    <script th:src="@{/js/coin-table-update.js}"></script>
  </head>
  <body>
    <table class="styled-table">
      <thead>  <!-- t head-->
        <tr >
          <th>Coin</th>
          <th>Current Price</th>
          <th>Price Change (24h)</th>
          <th>Market Capitalization</th>
        </tr>
      </thead>
      <tbody>  <!-- t body-->
        <tr th:attr="data-coin-id=${coin.id}" th:each="coin : ${coinList}" class="coinRow">   <!-- th:attr... -> connect coin-table.update line10-->
          
          <td>
           <div class="coin-info">  <!-- dialog: treat as a block-->
             <div class="coin-details">  
              <img class="coin-image" th:src="${coin.image}">
              <span class="coin-name" th:text="${coin.name}"></span>
              <span class="coin-symbol" th:text="${coin.symbol}"></span>
             </div>
             <div> 
              <span  class="last-updated" th:text="${#temporals.format(coin.lastUpdate, 'yyyy/MM/dd HH:mm:ss')} + ' HKT'">
              </span>
             </div>   <!-- class: a tag for js to identify ->coin-table.update line14-->
           </div>
          </td>
             <!-- Coin column: row1:image, coin name, coin code, row2: last update-->

          <td class="current-price" th:text="'$' + ${#numbers.formatDecimal(coin.currentPrice,1,'COMMA',0,'POINT')}"></td>
          <td>
          <span th:with="roundedPercent = ${T(java.lang.Math).round(coin.priceChangePercentage24h * 100.0) / 100.0}"  
            th:class="${'price-change '+(roundedPercent > 0 ? 'up': (roundedPercent < 0 ? 'down' : 'neutral'))}">                         <!-- call java function, *100,round,/100-->
            <span th:text="${roundedPercent > 0 ? '▲' : (roundedPercent < 0 ? '▼' : '')}"></span>
            <span th:text="${#numbers.formatDecimal(T(java.lang.Math).abs(roundedPercent),1,'COMMA',2,'POINT')} + '%'"></span>
          </span>
          </td>
          <td class="market-cap" th:text="'$' + ${#numbers.formatDecimal(coin.marketCap,1,'COMMA',0,'POINT')}"></td>
        </tr>
      </tbody>
    </table>

  </body>
</html>