<!DOCTYPE html>
  <head>
    <title>bootcamp</title>
    <script th:src="@{/js/update-text.js}"></script>  <!-- attach html file-->
    <script th:src="@{/js/coin-search.js}"></script>
    <script th:src="@{/js/coin-table-update.js}"></script>
  </head>
  <body>
    <h1>Biggest</h1> <!--H for heading-->
    <h2>Java</h2>
    <h3>Python</h3>
    <p>Welcome to Bootcamp</p>  <!--p for paragraph -->
    <p th:text="'Programming Language=' + ${programming}"></p>   <!--   server side rendering -->
    
    <input type="text" id="input-Box">
    <button onclick="updateText()">Update</button>
    <p id="status">Original Value</p>

    
    <input type="text" id="coinSearch">  <!-- id for matching javascrpit-->
    <div></div>


    <table>
      <thead>  <!-- t head-->
        <tr >
          <th>Coin</th>
          <th>Current Price</th>
          <th>Price Change (24h)</th>
          <th>Market Capitalization</th>
        </tr>
      </thead>
      <tbody>  <!-- t body-->
        <tr th:each="coin : ${coinList}" class="coinRow">
          <td><img th:src="${coin.image}" height="30"></td>
            <td th:text="${coin.name}"></td>

          <td th:text="'$' + ${#numbers.formatDecimal(coin.currentPrice,1,'COMMA',0,'POINT')}"></td>
          <td>
          <span th:with="roundedPercent = ${T(java.lang.Math).round(coin.priceChangePercentage24h * 100.0) / 100.0}"  
            th:class="${'price-change '+(roundedPercent > 0 ? 'up': (roundedPercent < 0 ? 'down' : 'neutral'))}">                         <!-- call java function, *100,round,/100-->
            <span th:text="${roundedPercent > 0 ? '▲' : (roundedPercent < 0 ? '▼' : '')}"></span>
            <span th:text="${#numbers.formatDecimal(T(java.lang.Math).abs(roundedPercent),1,'COMMA',2,'POINT')} + '%'"></span>
          </span>
          </td>
          <td th:text="'$' + ${#numbers.formatDecimal(coin.marketCap,1,'COMMA',0,'POINT')}"></td>
        </tr>
      </tbody>
    </table>


    <table>
      <tr>  <!-- row-->
        <th>Name</th>  <!-- heading-->
        <th>Age</th>
      </tr>
      <tr>
        <td>Tommy</td>  <!-- column-->
        <td>20</td>
      </tr>
      <tr>
        <td>Steven</td>
        <td>19</td>
      </tr>
    </table>
  </body>
</html>